<nav class="sidebar">
    <div class="brand">
        <NavLink class="brand-link" href="">ShelterStack</NavLink>
    </div>

    <ul class="nav-list">
        <li>
            <NavLink class="nav-item" href="" Match="NavLinkMatch.All">
                <span>Home</span>
            </NavLink>
        </li>
        <li>
            @* Placeholder until the Animals screens land (#84, #85). *@
            <NavLink class="nav-item" href="animals">
                <span>Animals</span>
            </NavLink>
        </li>
    </ul>
</nav>
